<h1>Create New Job</h1>

<% if @job.errors.any? %>
    <% @job.errors.full_messages.each do |message| %>
    <%= message %>><br>
    <% end %>
<% end %>

<%= form_for @job do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :location %>
    <%= f.text_field :location %><br>
    <%= f.label :salary %>
    <%= f.number_field :salary %><br>
    <%= f.label :description %>
    <%= f.text_field :description %><br>
    <%= f.collection_select(:user_ids, User.all.producer, :id, :name) %><br><br><br>
    <%= f.submit "Sign Up" %>
<% end %>


<br>
<%= link_to "Back to Homepage", root_path %>