<h1>Create New Job</h1>

<% if @job.errors.any? %>
    <% @job.errors.full_messages.each do |message| %>
    <%= message %><br>
    <% end %>
<% end %>

<%= form_for @job, html: {class: "ui form" } do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :location %>
    <%= f.text_field :location %><br>
    <%= f.label :salary %>
    <%= f.number_field :salary %><br>
    <%= f.label :description %>
    <%= f.text_field :description %><br><br>
    <%= f.submit "Make New Job Post", class: "small ui violet button" %>
<% end %>
