<h1><%= @job.title%></h1>

<div>
<h3>Description:</h3>
<%= @job.description %>
<h3>Location:</h3>
<%= @job.location %>
<h3>Salary:</h3>
<%= @job.salary %>
</div>

<% if @job.user_id == current_user.id %><br>
<%= link_to "Delete Job", job_path, method: :delete %>
<% end %>

<% if current_user.role == "actor" %><br>
<%= link_to "Apply" %>
<% end %>