<h1><%= @user.name %></h1>

<div>
<h3> Role: </h3>
<%= @user.role %><br>
<h3> Username: </h3>
<%= @user.username %><br>
<h3> Email: </h3>
<%= @user.email %><br>
<h3> Age: </h3>
<%= @user.age %><br>
<h3> Gender: </h3>
<%= @user.gender %>

</div>
<br>
<% if current_user.role == "producer" %>
<h3>Jobs:</h3>
<% @user.jobs.each do |job| %>
<%= link_to job.title, job_path(job)  %><br>
<% end %><br><br>
<%= link_to "Create New Job", new_job_path %>
<% end %>
<br><br>
<%= link_to "Update Profile", edit_user_path %><br>
<%= link_to "Delete Account", user_path, method: :delete %><br><br>
<%= link_to "Homepage", root_path %>
