<h1><%= @user.name %></h1>

<div>
<h3> Role: </h3>
<%= @user.role %><br>
<h3> Username: </h3>
<%= @user.username %><br>
<h3> Email: </h3>
<%= @user.email %><br>
<h3> Age: </h3>
<%= @user.age %><br>
<h3> Gender: </h3>
<%= @user.gender %>

</div>