<!DOCTYPE html>
<html>
  <head>
    <title>GoodJobHuntingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <% unless params[:controller] == "sessions" &&  params[:action] == "login" %>

        <% if logged_in? %>
            Welcome <%= current_user.username %>
            <%= link_to "Logout", logout_path, method: :delete %>
        <% else %>
            <%= link_to "Login", login_path %>
            <%= link_to "SignUp", signup_path %>
        <% end %>
    <% end %>
</div>
    <%= yield %>
  </body>
</html>
